h1 {
    font-size: 60px;
    color: brown;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    font-size: 45px;
    color:chocolate;
    text-align: center;
    text-decoration: solid;
    margin: auto;
    margin-bottom: 10px;
}
h3{
    font-size: 45px;
    color:chocolate;
    text-align: center;
    text-decoration: solid;
}
.selector {
    font-size: 25px;
    display: block;
    text-align: center;
    margin: auto;
    text-decoration: solid;
    width: auto;
    height: auto;

}
.segundo{
    font-size: 20px;
    display: block;
    text-decoration: solid;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 65px;
    height: auto;
}
select{
    font-size: 35px;
    display: block;
    text-decoration: solid;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    
}
button{
    font-size: 45px;
    margin-bottom: 10px;
    margin: 20px;
    display: inline-block;
}
label {
    font-size: 45px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
div{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
img {
    display: flex;
    margin: auto;
    padding: auto;
    width: 300px;
    height: 300px;
    margin-top: 80px;

}
.variable{
    font-size: 40px;
    padding-right: 10px;
    margin: auto;

}
.fecha{
    font-size: 40px;
    padding-right: 10px;
    margin: auto;

}
ul{
    font-size: 25px;
    margin: auto;
    text-align: center;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.humedad{
    width: 100px;
    height: auto;
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
}
    
.graficos{
    height: 500px;
    width: 500px;
    margin: auto;
    padding: auto;
}

input[type="range"] {
    transform: scaleY(3);
  }
