<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Plantas Flask</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body onload="{% block onload %}{% endblock %}">
        <h1>IOT Plantas</h1>
        {% block content %}{% endblock %}
    </body>
</html>