{% extends 'base.html'  %}
{% block content %}
    <h2>Seleccione los datos que se desean mostrar</h2>

    <label for="opciones">Selecciona una opción:</label>
   
    <div class="selector"  >
        <select id="opciones">
            <option value="0">Planta 0</option>
            <option value="1">Planta 1</option>
            <option value="2">Planta 2</option>
            <option value="3">Planta 3</option>
        </select>

        <button class="texto" onclick='posicion()'>Graficar</button>
        <button class=" texto" onclick="ver()">Ver</button>
    </div>
    <div>
        <img src="../static/images/cafe.jpg"  class="imagen" alt="imagen">
    </div>

<script src= "{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}